[project]
	description = JBoss Camel Developer Tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lars Heinemann (lhein)
[access "refs/for/refs/*"]
	read = group user/Lars Heinemann (lhein)
	push = group user/Lars Heinemann (lhein)
	label-Code-Review = -2..+2 group user/Lars Heinemann (lhein)
	label-Verified = -1..+1 group user/Lars Heinemann (lhein)
	rebase = group user/Lars Heinemann (lhein)
	removeReviewer = group user/Lars Heinemann (lhein)
	submit = group user/Lars Heinemann (lhein)
[access "refs/heads/*"]
	read = group user/Lars Heinemann (lhein)
	create = group user/Lars Heinemann (lhein)
	push = +force group user/Lars Heinemann (lhein)
	pushMerge = group user/Lars Heinemann (lhein)
[access "refs/tags/*"]
	push = group user/Lars Heinemann (lhein)
	push = +force group user/Lars Heinemann (lhein)
